---
import { Image } from "@astrojs/image/components";
import profilePic from "../../assets/images/profile_human.png";
import Experiences from "../../components/Experiences/Experiences.astro";
import Link from "../../components/Link/Link.astro";
import PageHeader from "../../components/PageHeader/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";

import "./about.less";
---

<Layout title="About me" description="LoyalPotato's info and experiences.">
  <main>
    <PageHeader title="About me" />
    <p>Like I said in the homepage, my name is David/LoyalPotato.</p>
    <div class="about-img-container">
      <Image
        class="about__img"
        alt="My picture"
        src={profilePic}
        format="webp"
        loading="eager"
      />
    </div>
    <p>
      I'm a software engineer who's curious about all sorts of things, a
      keyboard "enthusiast" <small
        >(I like keyboards but I'm not crazy about 'em)</small
      >. I also like playing video games, even though I haven't played many
      different ones these past years <small
        >(I've been playing mostly Halo Infinite on PC)</small
      > and I occasionally like to draw as well, but much like gaming, I do it way
      less than before, sadly :(
    </p>
    <p>
      If you want to check some of my project's code, then you can go to my
      <Link href="https://github.com/LoyalPotato">Github</Link>. For possible
      position offers or professional contacting/network here's also my
      <Link href="https://www.linkedin.com/in/dbazilio/">LinkedIn</Link> profile.
    </p>
    <Experiences />
  </main>
</Layout>
