---
import PageHeader from "../../components/PageHeader/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main>
    <PageHeader title="Posts" />
    <p>I'm sorry, but there are no posts as of yet :(</p>
  </main>
</Layout>
