.link-btn {
  color: var(--text-color);
  text-underline-offset: 0.3rem;
  text-decoration-color: var(--contrast-color);
  text-decoration: underline 0.1rem;
  transition: all 150ms ease-in;

  &:hover {
    color: var(--selection);
  }
}