@import (inline) "./normalize.css";
@import "./helpers.less";

:root {
  --font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --code-font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;

  /* 
   Colors
   */

  /* Dark Mode */
  --smooth-black: #202023;
  --dark-bg: var(--smooth-black);

  --dark-blue-step-1: #0D1B2A;
  --dark-blue-step-2: #1B263B;
  --dark-blue-step-3: #415A77;
  --dark-blue-step-4: #778DA9;

  --dark-contrast-white: #E0E1DD;
  --dark-contrast-orange: #DA7422;
  --dark-contrast-crimson: #6F1D1B;

  /* Light Mode */

  --floral-white: #FBFBF2;
  --light-bg: var(--floral-white);

  --pine-tree: #30362F;
  --laurel-green: #a3b18a;

  /* Common Colors */

  --silver: #C5C3C6;

  /* Border */

  --border-radius: 0.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

html {
  font-family: var(--font-family);
  background-color: var(--background);
  text-rendering: optimizeLegibility;
}

html {
  &:root {
    --background: var(--floral-white);
    --text-color: var(--pine-tree);
    --text-color-secondary: var(--silver);
    --contrast-color: var(--pine-tree);
    --contrast-color-light: var(--laurel-green);
    --selection: var(--laurel-green);
  }

  *::selection {
    background: var(--selection);
  }
}

html.dark {
  &:root {
    --background: var(--smooth-black);
    --text-color: var(--dark-contrast-white);
    --text-color-secondary: var(--silver);
    --contrast-color: var(--dark-contrast-crimson);
    --selection: var(--dark-blue-step-4);
  }

  *::selection {
    background: var(--selection);
  }
}

body {
  color: var(--text-color);
  min-height: 100vh;
}

code {
  font-family: var(--code-font-family);
}

.center-wrapper {
  margin: auto;
  margin-bottom: 2rem;
  padding: 0 1.5rem;
  max-width: 1000px;
}

p {
  letter-spacing: 0.04rem;
  line-height: 1.4rem;
  margin: 1rem 0;
}

img {
  border-radius: var(--border-radius);
}

.not-found-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;

  .not-found__title {
    font-size: 6rem;
    margin: 0;
  }

  .not-found__text {
    margin: 0;
    font-size: 1.5rem;
  }

  .not-found__gif {
    width: 100%;
  }
}