---
import "./InfoCard.less";
---

<section>
  <div class="my-info">
    <div class="my-info-img-container">
      <img
        class="my-info__img"
        alt="Me - LoyalPotato"
        src="/images/profile_potato.png"
      />
    </div>
    <div class="my-info-text-container">
      <h3 class="my-info__name">David "LoyalPotato" Ribeiro</h3>
      <p class="my-info__role">
        FullStack Engineer / Keyboard Lover / Curious Potato
      </p>
    </div>
  </div>
</section>
