---
import "./PageHeader.less";

export interface Props {
  title: string;
  subtitle?: string;
  date?: string;
}

const { title, subtitle, date } = Astro.props;

const timeFormat: Intl.DateTimeFormatOptions = {
  dateStyle: "long",
};
---

<header class="page-header">
  <h1 class="title">{title}</h1>
  {subtitle && <h2 class="subtitle">{subtitle}</h2>}
  {
    date && (
      <time datetime={date} class="date">
        {new Date(date).toLocaleDateString(undefined, timeFormat)}
      </time>
    )
  }
</header>
