---
import LinkableTitle from "../LinkableTitle/LinkableTitle.astro";
import NoResource from "../NoResource/NoResource.astro";
import "./LatestPosts.less";
const posts = await Astro.glob("../../pages/posts/*.mdx");
---

<div>
  <LinkableTitle id="latestPosts">Latest Posts</LinkableTitle>
  {posts.length === 1 && <NoResource resourceType="posts" />}
</div>
