---
import Layout from "../layouts/Layout.astro";
---

<Layout page="404" title="Not Found">
  <div class="not-found-container">
    <h1 class="not-found__title">404!</h1>
    <p class="not-found__text">You might want to double check where you are</p>
    <img
      class="not-found__gif"
      src="/gifs/are_you_sure_hi.gif"
      alt="Are you sure about that"
    />
  </div>
</Layout>
