---
import LatestPosts from "../components/LatestPosts/LatestPosts.astro";
import LatestProject from "../components/LatestProject.astro";
import Link from "../components/Link/Link.astro";
import PageHeader from "../components/PageHeader/PageHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" description="LoyalPotato's lair">
  <main>
    <PageHeader title="Hello!" subtitle="Welcome to my lair!" />
    <p>
      I go by LoyalPotato online, but my real name is David. Either is fine :)
    </p>
    <>
      Here you'll find what I'm working on and have worked on, all my <Link
        link="/projects">projects</Link
      > and some <Link link="/posts">posts</Link> about what I find interesting in
      all sorts of topics, such as Typescript, React, C# and others
      <small>(but at the moment none exist)</small>.
    </>
    <p>
      You can go straight to my <Link link="/about">about</Link> page if you wantnow
      about my experiences and a little more about myself.
    </p>
    <LatestPosts />
    <LatestProject />
  </main>
</Layout>
