---
import LatestPosts from "../components/LatestPosts/LatestPosts.astro";
import LatestProject from "../components/LatestProject.astro";
import PageHeader from "../components/PageHeader/PageHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <PageHeader title="Hello!" subtitle="Welcome to my lair!" />
    <p>
      I go by LoyalPotato online, but my real name is David. Either is fine :)
    </p>
    <p>
      Here you'll find things about me, all my current and past projects and
      some posts about whatever I find interesting in sharing.
    </p>
    <LatestPosts />
    <LatestProject />
  </main>
</Layout>
