---
import "./LinkableTitle.less";
interface Props {
  id: string;
  extraTitleClass?: string;
  size?: "sm";
}
const { id, size, extraTitleClass } = Astro.props;
---

<h1
  class={`linkable-title ${size ? `linkable-title--${size}` : ""} ${
    extraTitleClass ?? ""
  }`}
  id={id}
>
  <slot />
  <a class="linkable-section" href={`#${id}`}>#</a>
</h1>
