---
import Nav from "../Nav/Nav.astro";
import NavMobile from "../Nav/NavMobile.astro";
import ThemeToggle from "../ThemeToggle/ThemeToggle.astro";
import "./Header.less";
---

<header class="header">
  <nav class="nav-bar">
    <NavMobile />
    <Nav />
    <ThemeToggle />
  </nav>
</header>
