---
import LinkableTitle from "./LinkableTitle/LinkableTitle.astro";
import NoResource from "./NoResource/NoResource.astro";

const projects = await Astro.glob("../pages/projects/*.mdx");
---

<div>
  <LinkableTitle id="latestProject">Latest Project</LinkableTitle>
  {projects.length === 1 && <NoResource resourceType="projects" />}
</div>
