---
import "../styles/latest.less";
import type { ArticleFrontmatter } from "../types/article";
import LinkableTitle from "./LinkableTitle/LinkableTitle.astro";
import NoResource from "./NoResource/NoResource.astro";
import ResourceCard from "./ResourceCard/ResourceCard.astro";

const projects = await Astro.glob<ArticleFrontmatter>(
  "../pages/projects/*.mdx",
);

const sortedProj = projects
  .slice(0, 4)
  .sort(
    (a, b) =>
      Date.parse(b.frontmatter.publishDate) -
      Date.parse(a.frontmatter.publishDate),
  );

console.log(sortedProj)
---

<div class="latest-title">
  <LinkableTitle id="latestProject">Latest Project</LinkableTitle>
  {
    (projects.length === 1 && <NoResource resourceType="projects" />) || (
      <div class="latest-resource">
        {sortedProj.map((proj) => {
          if (proj.file.includes("empty.mdx")) return null;
          //TODO: Add a default thumbnail
          return (
            <a href={proj.url}>
              <ResourceCard
                title={proj.frontmatter.title}
                subtitle={proj.frontmatter.subtitle}
                thumbnail={proj.frontmatter.thumbnail || ""}
                thumbnailAR={proj.frontmatter.thumbnailAR?.replace("-", "/")}
                description={proj.frontmatter.description}
              />
            </a>
          );
        })}
      </div>
    )
  }
</div>
