---
import PageHeader from "../../components/PageHeader/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main>
    <PageHeader title="Projects" />
    <p>Working on adding previous projects. Thank you for your patience!</p>
  </main>
</Layout>
