---
import ThemeToggle from "../ThemeToggle/ThemeToggle.astro";
import "./Nav.less";
---

<nav class="nav">
  <a href="/">Home</a>
  <a href="/posts">Posts</a>
  <a href="/projects">Projects</a>
  <a href="/about">About Me 🥔</a>
  <ThemeToggle />
</nav>
