---
import "./Nav.less";
---

<nav class="nav">
  <div class="nav-item">
    <a href="/">Home</a>
  </div>
  <div class="nav-item">
    <a href="/posts">Posts</a>
  </div>
  <div class="nav-item">
    <a href="/about">About Me 🥔</a>
  </div>
</nav>
