---
import type { HTMLAttributes } from "astro/types";
import "./Link.less";

export type Props = HTMLAttributes<"a">;

const { href, target, rel } = Astro.props;
---

<a class="link" href={href} target={target} rel={rel ?? "noopener"}><slot /></a>
